<div
  id="aside"
  class="app-aside fade box-shadow-x nav-expand white"
  aria-hidden="true"
>
  <div class="sidenav modal-dialog dk white">
    <!-- sidenav top -->
    <div class="navbar dk">
      <!-- brand -->
      <a href="/" style="margin: auto" class="navbar-brand fadeIn first">
        <img style=" max-height: 4.5rem;"
         src="../../../../assets/logo.png" alt="." />
      </a>
      <!-- / brand -->
    </div>
    <!-- Flex nav content -->
    <div class="flex hide-scroll">
      <div class="scroll">
        <div class="nav-stacked nav-active-theme" data-nav>
          <ul class="nav ">
            <li class="nav-header">
              <span class="text-xs hidden-folded">Main</span>
            </li>
            <li>
              <a routerLink="/dashboard">
                <span class="nav-icon"><i class="fa fa-dashboard"></i></span>
                <span class="nav-text">Dashboard</span>
              </a>
            </li>


            </ul>


        </div>
      </div>
    </div>

  </div>
</div>
